<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>My Portfolio</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    </head>
    <body>
      <!-- transparent black div to overlay the background -->
      <div class="overlay">
        <h1>ieuqciwuciueciueciqbeiuceuce</h1>
      </div>
      <!-- transparent black div to overlay the background -->
    </body>
</html>
